:root {
    --board-length: 18rem;
    --cell-length: calc(var(--board-length) / 10);
}

*,
*::before, 
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body,
.game,
.board-container,
.set-ships,
.btn-container,
.ships-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

body {
    align-items: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
}

.game {
    gap: 10rem;
    padding-inline: 5rem;
}

.board-container {
    flex-direction: column;
    gap: 0.5rem;
}

.set-ships {
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(var(--cell-length) * 5 + 3rem);
}

.btn-container {
    justify-content: space-around;
    width: 100%;
    height: 20%;
}

.btn-container > button {
    width: 45%;
    padding-block: 0.3rem;
}

.ships-container {
    width: 100%;
    height: calc(var(--cell-length) * 5);
}

.board {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: var(--board-length);
    height: var(--board-length);
    border-top: solid 1px #000;
    border-left: solid 1px #000;
}

.board-cell {
    position: relative;
    width: 100%;
    height: 100%;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    cursor: crosshair;
}

.board-cell[interactive="true"]:hover {
    background-color: rgba(0, 255, 0, 0.3);
}

.ship {
    background-color: #c5d2fd;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    transform: translate(-1px, -1px);
}

.drag-ship {
    display: flex;
    background-color: #c5d2fd;
}

.drag-ship.rotate {
    flex-direction: column;
}

.drag-ship-cell {
    width: var(--cell-length);
    height: var(--cell-length);
}

.hit::before,
.hit::after,
.miss::before,
.miss::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
}

.hit::before,
.hit::after {
    width: 70%;
    height: 15%;
    background-color: #ff0000;
}

.hit::before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.hit::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.miss::before,
.miss::after {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    background-color: #000000;
    transform: translate(-50%, -50%);
}

.hit[interactive="true"]:hover,
.miss[interactive="true"]:hover {
    background-color: rgba(255, 0, 0, 0.3);
    cursor: not-allowed;
}

.winner-banner,
.pop-up {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winner-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    visibility: hidden;
}

.pop-up {
    flex-direction: column;
    gap: 1rem;
    width: 50%;
    height: 30%;
    color: white;
    background-color: #000;
    border-radius: 25px;
}

.pop-up > button {
    padding: 0.5rem;
}

.start-container {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.start-btn {
    padding: 0.5rem;
}